body {
    width: 250px !important;
    height: 300px !important;
}

#loja-container.body{
height: 400px;
}

#pet-container {
    text-align: center;
}

#progress-bar {
    width: 150px;
    background-color: #ccc; 
    margin: 0 auto;
    border-radius: 15px;

}

#mais{
    position: absolute;
    top: 100px;
    right: 10px;
}

#menos{
    position: absolute;
    top: 100px;
    right: 40px;
}

#progress {
    width: 0%;
    height: 10px;
    background-color: #4caf50;
    border-radius: 15px;
}

#progress-amor {
    width: 0%;
    height: 10px;
    background-color: #af4c74;
    border-radius: 15px;
}

#progress-sono {
    width: 0%; 
    height: 10px;
    background-color: #5192f3;
    border-radius: 15px;
}

#progress-saude {
    width: 0%; 
    height: 10px;
    background-color: #eef351; 
    border-radius: 15px;
}

#progress-banho {
    width: 0%;
    height: 10px;
    background-color: #915f22; 
    border-radius: 15px;
}


.button {
    margin-top: 20px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    background-size: cover;
    width: 40px;
    height: 40px; 
    cursor: pointer;
    background-color: transparent;
    margin: 2px;

}

#loja, #voltar {
    position: absolute;
    top: 0;
    left: 0;            
}

#loja {
    background-image: url('./botoes/bolsa-de-compras.png');
    background-size: cover;
    width: 50px; 
    height: 50px;
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
}

#voltar {
    background-image: url('./botoes/volta.png');
    background-size: cover;
    width: 50px;
    height: 50px; 
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
}

.jump {
    animation-name: jumpAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

#pet-top {
    text-align: center;
    position: relative; 
}

#hat {
    width: 50px;
    position: absolute;
    top: 0;
    left: 49.5%;
    transform: translateX(-50%);
    display: none;
}

#sapato {
    width: 50px;
    position: absolute;
    top: 40px;
    left: 49.5%;
    transform: translateX(-50%);
    display: none;
}

#acessorio {
    width: 40px;
    position: absolute;
    top: 60px;
    left: 70%;
    transform: translateX(-50%);
    display: none;
}

#asas {
    width: 100px;
    position: absolute;
    top: -5px;
    left: 49.5%;
    transform: translateX(-50%);
    display: none;
    z-index: -1;
}

#acessorio:hover {
    cursor: pointer;
}

#pet {
    width: 100px;
    margin-top: 15px; 
}

#loja-container {
    display: none;
    max-width: 300px;
    max-height: 400px;
    min-width: 300px;
    max-width: 400px;

}

.fundo1 {
    background-color: #ffffff;
}

.fundo2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Gay_Pride_Flag.svg/640px-Gay_Pride_Flag.svg.png");
    background-size: 100% 100%;
    color: #fff;
    font-weight: 400;
}

.fundo3 {
    background-image: url("https://wallpapercave.com/wp/wp6159305.jpg");
    background-size: 100% 100%;
    color: #fff;
}

.fundo4 {
    background-image: url("https://preview.redd.it/i-feel-like-such-a-loser-but-i-had-so-much-fun-making-this-v0-rccknmattcka1.png?width=400&format=png&auto=webp&s=11e97e3acaa324b7f51c164051247341e2ff346c");
    background-size: 100% 100%;
    color: #fff;
}

.fundo5 {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20210507/pngtree-aesthetic-fluid-wallpaper-in-green-pastel-colors-image_705259.jpg");
    background-size: 100% 100%;
    color: #fff;
}

.fundo6 {
    background-image: url("https://images.rawpixel.com/image_400/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA2L3Y5MDMtdGVjaGktMzRfMV8xLmpwZw.jpg");
    background-size: 100% 100%;
    color: #fff;
}

.fundo7 {
    background-image: url("https://img.freepik.com/premium-photo/anime-landscape-wallpapers-iphone-is-best-high-definition-iphone-wallpaper-you-can-make-this-wallpaper-your-iphone-x-backgrounds-mobile-screensaver-ipad-lock-screen-iphone-wall_873925-19600.jpg");
    background-size: 100% 100%;
    color: #fff;
}

.fundo8 {
    background-image: url("https://i.pinimg.com/736x/52/a9/4f/52a94fdd2d5b6c5f4b1478980efb34ed.jpg");
    background-size: 100% 100%;
    color: #fff;
}

.fundo9 {
    background-image: url("https://media.idownloadblog.com/wp-content/uploads/2014/10/iPad-Air-Advertising-Wallpaper-Green-Jason-Zigrino.jpg");
    background-size: 100% 100%;
    color: #fff;
}

.fundo10 {
    background-image: url("https://www.papeldeparede.etc.br/fotos/wp-content/uploads/Lobo6.jpg");
    background-size: 100% 100%;
    color: #fff;
}

#fezes-container {
    text-align: center;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
}

.fezes {
    width: 20px;
    margin: 0 5px;
    float: left;
    z-index: 4;
}

#alimentar{
    background-image: url('./botoes/alimentar.png');
    background-size: cover;
    background-color: #4caf50;
}

#brincar{
    background-image: url('./botoes/diversao.png');
    background-size: cover;
    background-color: #af4c74;

}

#dormir{
    background-image: url('./botoes/dormir.png');
    background-size: cover;
    background-color:#5192f3;

}

#banho{
    background-image: url('./botoes/banho.png');
    background-size: cover;
    background-color: #915f22;
}

#medicar{
    background-image: url('./botoes/saude.png');
    background-size: cover;
    background-color: #eef351;
}

#botoes{
    margin-top: 15px;
}

#barras{
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    color: #000;
    margin: 0 auto;
    width: 220px;
}

#pontos{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
    background-color: #fff;
    width: 50px; 
    height: 50px;
    color: #000;
    text-align: center;
    line-height: 50px;
}

.botaoloja[disabled] {
    position: relative;
  }
  
.botaoloja[disabled]::after {
    content: attr(value);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.872);
    color: white;
    border-radius: 8px;
    width: 90px;
    height: 70px;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
}

#chapeu-container, #fundo-container, #sapato-container, #asas-container, #acessorio-container, #especiais-conteiner {
    overflow-x: auto; 
    width: 300px;
    white-space: nowrap; 
}

.fundodormir{
    background-color: #404040;
}

.botaoloja {
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    display: inline-block;
    background-repeat: no-repeat;
}

#chapeu-0{
    background-image: url('./chapeus/remover.png');
    background-size:contain;
    width: 90px;
    height: 70px;    
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;

}

#chapeu-1{
    background-image: url('./chapeus/hat1.png');
    background-size:contain;
    width: 90px;
    height: 70px;    
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;

}

#chapeu-2{
    background-image: url('./chapeus/hat2.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;

}

#chapeu-3{
    background-image: url('./chapeus/hat3.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;

}

#chapeu-4{
    background-image: url('./chapeus/hat4.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;

}

#chapeu-5{
    background-image: url('./chapeus/hat5.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;

}

#chapeu-6{
    background-image: url('./chapeus/hat6.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;

}

#chapeu-7{
    background-image: url('./chapeus/hat7.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;
}

#chapeu-8{
    background-image: url('./chapeus/hat8.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;
}

#chapeu-9{
    background-image: url('./chapeus/hat7.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;
}

#chapeu-10{
    background-image: url('./chapeus/hat10.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #c5c5c5;
    border: #000 2px solid;
}


#fundo-1{
    background-image: url('./background/background1.png');
    background-size: cover;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    border: #000 2px solid;
}

#fundo-2{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Gay_Pride_Flag.svg/640px-Gay_Pride_Flag.svg.png');
    background-size: cover;
    width: 90px;
    height: 70px; 
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    border: #000 2px solid;
}

#fundo-3{
    background-image: url('https://wallpapercave.com/wp/wp6159305.jpg');
    background-size: cover;
    width: 90px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    border: #000 2px solid;
}

#fundo-4{
    background-image: url('https://preview.redd.it/i-feel-like-such-a-loser-but-i-had-so-much-fun-making-this-v0-rccknmattcka1.png?width=400&format=png&auto=webp&s=11e97e3acaa324b7f51c164051247341e2ff346c');
    background-size: cover;
    width: 90px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    border: #000 2px solid;

}

#fundo-5{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20210507/pngtree-aesthetic-fluid-wallpaper-in-green-pastel-colors-image_705259.jpg');
    background-size: cover;
    width: 90px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    border: #000 2px solid;

}

#fundo-6{
    background-image: url('https://images.rawpixel.com/image_400/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA2L3Y5MDMtdGVjaGktMzRfMV8xLmpwZw.jpg');
    background-size: cover;
    width: 90px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    border: #000 2px solid;

}

#fundo-7{
    background-image: url('https://img.freepik.com/premium-photo/anime-landscape-wallpapers-iphone-is-best-high-definition-iphone-wallpaper-you-can-make-this-wallpaper-your-iphone-x-backgrounds-mobile-screensaver-ipad-lock-screen-iphone-wall_873925-19600.jpg');
    background-size: cover;
    width: 90px;
    height: 70px; 
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    border: #000 2px solid;

}

#fundo-8{
    background-image: url('https://i.pinimg.com/736x/52/a9/4f/52a94fdd2d5b6c5f4b1478980efb34ed.jpg');
    background-size: cover;
    width: 90px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    border: #000 2px solid;

}

#fundo-9{
    background-image: url('https://media.idownloadblog.com/wp-content/uploads/2014/10/iPad-Air-Advertising-Wallpaper-Green-Jason-Zigrino.jpg');
    background-size: cover;
    width: 90px;
    height: 70px; 
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#fundo-10{
    background-image: url('https://www.papeldeparede.etc.br/fotos/wp-content/uploads/Lobo6.jpg');
    background-size: cover;
    width: 90px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#sapato-0{
    background-image: url('./sapatos/remover.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-1{
    background-image: url('./sapatos/sapato1.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-2{
    background-image: url('./sapatos/sapato2.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-3{
    background-image: url('./sapatos/sapato3.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-4{
    background-image: url('./sapatos/sapato4.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-5{
    background-image: url('./sapatos/sapato5.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-6{
    background-image: url('./sapatos/sapato6.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent; 
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-7{
    background-image: url('./sapatos/sapato7.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer; 
    background-color: transparent; 
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-8{
    background-image: url('./sapatos/sapato8.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;  
    background-color: transparent; 
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-9{
    background-image: url('./sapatos/sapato9.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;  
    background-color: transparent; 
    margin: 2px; 
    border: #000 2px solid;
}

#sapato-10{
    background-image: url('./sapatos/sapato10.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;  
    background-color: transparent; 
    margin: 2px; 
    border: #000 2px solid;
}

#acessorio-0{
    background-image: url('./acessorios/remover.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent; 
    margin: 2px; 
    border: #000 2px solid;
}

#acessorio-1{
    background-image: url('./acessorios/acessorio1.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#acessorio-2{
    background-image: url('./acessorios/acessorio2.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#acessorio-3{
    background-image: url('./acessorios/acessorio3.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#acessorio-4{
    background-image: url('./acessorios/acessorio4.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#acessorio-5{
    background-image: url('./acessorios/acessorio5.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#acessorio-6{
    background-image: url('./acessorios/acessorio6.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#acessorio-7{
    background-image: url('./acessorios/acessorio7.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer;
    background-color: transparent; 
    margin: 2px; 
    border: #000 2px solid;

}

#acessorio-8{
    background-image: url('./acessorios/acessorio8.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#acessorio-9{
    background-image: url('./acessorios/acessorio9.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#acessorio-10{
    background-image: url('./acessorios/acessorio10.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-0{
    background-image: url('./asas/remover.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;
}

#asas-1{
    background-image: url('./asas/asas1.png');
    background-size:contain;
    width: 90px;
    height: 70px;   
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-2{
    background-image: url('./asas/asas2.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-3{
    background-image: url('./asas/asas3.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-4{
    background-image: url('./asas/asas4.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-5{
    background-image: url('./asas/asas5.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-6{
    background-image: url('./asas/asas6.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer; 
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-7{
    background-image: url('./asas/asas7.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;  
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-8{
    background-image: url('./asas/asas8.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;  
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-9{
    background-image: url('./asas/asas9.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;  
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}

#asas-10{
    background-image: url('./asas/asas10.png');
    background-size:contain;
    width: 90px;
    height: 70px;  
    border: none;
    cursor: pointer;  
    background-color: transparent;
    margin: 2px; 
    border: #000 2px solid;

}




#lana{
    background-image: url('./botoes/lana.png');
    background-size: cover;
    background-color: #c671ff;
    display: none;
}

#tyler{
    background-image: url('./botoes/tyler.png');
    background-size: cover;
    background-color: #ffb14b;
    display: none;
}

#chico{
    background-image: url('./botoes/chico.png');
    background-size: cover;
    background-color: #71ffb3;
    display: none;
}

#som{
    background-image: url('https://i.pinimg.com/originals/11/71/90/1171902397db5a128b9a012ba4b86ce4.jpg');
    background-size: cover;
    display: none;
}

#morrer{
    background-image: url('./botoes/morrer.png');
    background-size: cover;
    background-color: #000;
    display: none;
}

#espancar{
    background-image: url('./botoes/espancar.png');
    background-size: cover;
    width: 50px;
    height: 50px; 
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 2px;
    background-color: #531111;
    display: none;
}

